html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;   
  background: transparent;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

canvas {
  display: block;     /* remove inline-gap */
}
